@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    HttpContextAccessor.HttpContext.Session.TryGetValue("admin", out var admin);
    bool isAdmin = false;
    if (admin != null)
        if (System.Text.Encoding.Default.GetString(admin) == "true")
            isAdmin = true;
}
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 pt-3 border-top">
    <div class="col mb-3">
    </div>
    <div class="col mb-3">
    </div>
    <div class="col mb-3">
        <h5>Полезные ссылки</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Главная</a></li>
            @if (isAdmin)
            {
                <li class="nav-item mb-2"><a asp-action="AdminPanel" asp-controller="User" class="nav-link p-0 text-danger">Админ панель</a></li>
            }
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Справка</a></li>
        </ul>
    </div>
</footer>